*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    background: #bfdbf7;
    background: linear-gradient(90deg, #bfdbf7 31%, #053c5e 100%);
    display: flex;
    align-items: center;
}




.header{
    background-color: #a31621;
}